<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../bootstrap.min.css" />
    </head>

    <body>
        <div class="page-header">
            <h1>Tervetuloa keskustelufoorumille</h1>
        </div>

        <table class="table">
            <tr>
                <th>Alue</th>
                <th>Viestit</th>
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="alue: ${alueet}">
                <td>
                    <a th:href="${'/alueet/' + alue.id}">
                        <span th:text="${alue.nimi}"></span>
                    </a>
               </td>
                <td th:text="${alue.viestienLukumaara}"></td>
                <td th:text="${#dates.format(alue.viimeisin, 'dd.MM.yyyy HH:mm')}"></td>
            </tr>
        </table>

    </body>
</html>