<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Keskustelu</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../styles.css" />
        <link rel="stylesheet" href="../../bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
               <div class="col-md-12">
                 <h1>
                    Alue: 
                    <span th:text="${keskustelu.alue.nimi + ' → ' + keskustelu.nimi}"></span>
                </h1>  
               </div>
           </div>

            <div class="row margin">
               <div class="col-md-2">
                   <a th:href="${'/'}">
                         Näytä kaikki alueet
                   </a>
               </div>
                <div class="col-md-2">
                    <a th:href="${'/alueet/' + keskustelu.alue.id}">
                      <span th:text="${keskustelu.alue.nimi}"></span>
                    </a>
               </div>
           </div>
            <div class="row">
                <div class="col-md-12">
                      <table class="table">
                        <tr th:each="viesti: ${keskustelu.viestit}">
                            <td>
                                #<span th:text="${viesti.viestinNumero}"></span>
                            </td>
                            <td>
                                <b>Lähettäjä:</b> <br/>
                                <span th:text="${viesti.lahettaja}"></span> <br/>
                                <b>Aika:</b> <br/>
                                <span th:text="${#dates.format(viesti.aikaleima, 'dd.MM.yyyy HH:mm')}"></span>
                            </td>
                            <td width="80%">
                                <b>Viesti: </b> <br/>
                                <span th:text="${viesti.sisalto}"></span> 
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row margin">
                <div class="col-md-6">
                  <form method="POST">
                    <div class="form-group">
                         <label for="sisalto">Viesti:</label>
                         <textarea class="form-control" rows="5" id="sisalto" name="sisalto"></textarea>      
                         <label for="lahettaja">Lähettäjä:</label>
                         <input type="text" class="form-control" id="lahettaja" name="lahettaja"/>     
                    </div>
                     
                    <button type="submit" class="btn btn-default">Lisää uusi viesti</button>
                  </form>
                </div>
            </div>
        </div>
       
    </body>
</html>
