<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Viestit</h1>

        <ol>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.sisalto}"></span> <a th:href="${'/viestit/' + viesti.id}">linkki</a>
            </li>
        </ol>
    </body>
</html>